@import "solarized";

body {
  @include solarized-light();
}

ul {
  list-style-type: none;
}


.pic {
  border-radius: 3px;
  text-align: left;
  margin-bottom: 20px;

  img {
    box-shadow: rgba(0,0,0,.4) 0px 2px 3px;
  }

}

.holder {
  margin-top:20px;
}

