@import "bourbon/bourbon";
@import "neat/neat";
@import "solarized";

body {
  @include solarized-light();
}

ul {
  list-style-type: none;
}


.pic {
  width: 306px;
  height: 306px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-bottom: 20px;
}

.pic-contain {
  position: relative;
}

.span-3 {
  @include span-columns(3);
}

.block-contain {
  @include outer-container;
}

.block {
  @include span-columns(3);
  @include omega(3n);
}
